{{- if .Values.activemq.broker.enabled }}
apiVersion: broker.amq.io/v1beta1
kind: ActiveMQArtemis
metadata:
  name: activemq-artemis
  labels:
    {{- include "xnat.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
spec:
  acceptors:
    - bindToAllInterfaces: true
      name: xnat
      port: {{ .Values.activemq.broker.port | int }}
  deploymentPlan:
    requireLogin: true
  env:
    - name: "AMQ_USER"
      value: "{{ .Values.activemq.broker.user }}"
    - name: "AMQ_PASSWORD"
{{- if .Values.activemq.externalSecret.name }}
      valueFrom:
        secretKeyRef:
          name: "{{ .Values.activemq.externalSecret.name }}"
          key: "{{ .Values.activemq.externalSecret.key }}"
{{- else }}
      value:  "{{ .Values.activemq.broker.password }}"
{{- end }}
{{- else }}
{{- end }}
