{{- if .Values.activemq.broker.enabled -}}
apiVersion: broker.amq.io/v1beta1
kind: ActiveMQArtemis
metadata:
  name: activemq
  labels:
    {{- include "xnat.labels" . | nindent 4 }}
spec:
  acceptors:
    - bindToAllInterfaces: true
      name: xnat
      port: 62626
  deploymentPlan:
    requireLogin: true
  adminUser: "{{ .Values.activemq.broker.user }}"
  adminPassword: "{{ .Values.activemq.broker.password }}"
{{- else }}
{{- end }}
