{{- if .Values.activemq.broker.enabled }}
apiVersion: broker.amq.io/v1beta1
kind: ActiveMQArtemis
metadata:
  name: activemq-artemis
  labels:
    {{- include "xnat.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "0"
spec:
  acceptors:
    - bindToAllInterfaces: true
      name: xnat
      port: 62626
  deploymentPlan:
    requireLogin: true
  env:
    - name: "AMQ_USER"
      value: "{{ .Values.activemq.broker.user }}"
    - name: "AMQ_PASSWORD"
      value:  "{{ .Values.activemq.broker.password }}"
{{- else }}
{{- end }}
