{{- if .Values.containerService }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: container_role
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
{{- end }}